p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* for editing */
p .md-image:only-child {
    display: inline-block;
    width: 100%;
}

p > .md-image:only-child:not(.md-img-error) img {
    display: block;
    margin: auto;
}

/* for exporting */
p > img:only-child {
    display: block;
    margin: auto;
}